{% if alertmanager_time_intervals is defined and
      alertmanager_time_intervals | count > 0 %}

# A list of time intervals for muting/activating routes.
{# https://prometheus.io/docs/alerting/latest/configuration/#time_interval-0 #}
time_intervals:
{{ alertmanager_time_intervals | to_nice_yaml(indent=2) }}
{% endif %}
