{{ ansible_managed | comment }}

[Unit]
Description      = The Alertmanager handles alerts sent by client applications such as the Prometheus server.
After            = network-online.target

[Service]
Type             = simple
Environment      = "GOMAXPROCS={{ ansible_processor_vcpus | default(ansible_processor_count) }}"
EnvironmentFile  = {{ alertmanager_defaults_directory }}/alertmanager

User             = {{ alertmanager_system_user }}
Group            = {{ alertmanager_system_group }}

ExecStartPre     = /usr/bin/amtool check-config --verbose {{ alertmanager_config_dir }}/alertmanager.yml

ExecReload       = /bin/kill -HUP $MAINPID
ExecStart        = /usr/bin/alertmanager $OPTIONS

LimitNOFILE      = 65000
SyslogIdentifier = alertmanager
Restart          = always

[Install]
WantedBy         = multi-user.target
